@import "variables.scss";

.container-grid {
  margin-top: 16px;
  display: grid;
  grid-template:
    "carousel price-info"
    "overview price-info"
    "about about"
    "promotional promotional"
    "similar-offers similar-offers"
    /2.5fr 1fr;
  gap: 10px;
}

.carousel {
  grid-area: carousel;
  width: 75%;
  margin: 0 auto;

}

.box-container {
  top: 16px;
  padding: 32px;
  background-color: $background-color;
  border-radius: 0.8%;
  @include primeng-shadow;
}

.price-info {
  grid-area: price-info;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  margin-bottom: 30px;
  height: 400px; //apagar isso aqui depois


  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }

    i {
      font-size: 1.8rem;
    }
  }

  .price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    p {
      font-size: $font-size-medium;
    }

    div {
      display: flex;
      align-items: center;

      p {
        font-size: $font-size-large;
      }

      p:first-child {
        margin-right: 8px;
      }
    }
  }

  p-button.buy-button {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: calc(100% - 32px);
    transform: translateX(0);
    margin: 0 16px;
  }
}

.center-tabs ::ng-deep .p-tabview-nav {
  display: flex;
  justify-content: center;
}

.overview {
  h2 {
    text-align: center;
  }

  .overview-items {
    grid-area: overview;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .overview-item {
      flex: 1 1 calc(33% - 8px);
      background-color: $box-color;
      padding: 16px;
      text-align: center;

      .item-organization {
        padding-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }

      .icon-resume-car {
        width: 24px; // Tamanho base para dispositivos padrão
        height: 24px; // Opcional, para manter proporção
        @media (max-width: 768px) {
          width: 20px; // Ajuste para dispositivos menores
          height: 20px;
        }
        @media (max-width: 480px) {
          width: 16px; // Ajuste para dispositivos muito pequenos
          height: 16px;
        }
      }
    }
  }
}

.optionals {
  min-height: 10em;
}

.about {
  grid-area: about;
}

.promotional {
  grid-area: promotional;
}

.similar-offers {
  grid-area: similar-offers;
}
