@import "variables.scss";

.container-grid {
  margin-top: 16px;
  display: grid;
  grid-template:
    "carousel price-info"
    "overview price-info"
    "optionals price-info"
    "about about"
    "promotional promotional"
    "similar-offers similar-offers"
    /2.5fr 1fr;
  gap: 10px;
}

.carousel {
  grid-area: carousel;
  width: 100%;
  background-color: #aaaaaa;

  .galeria {
    width: 75%;
    padding-top: 10px;
    margin: 0 auto;
  }
}

.box-container {
  top: 16px;
  padding: 32px;
  background-color: $background-color;
  border-radius: 0.8%;
  @include primeng-shadow;
}

.price-info {
  grid-area: price-info;
  position: sticky;
  height: 400px; //apagar isso aqui depois

  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }

    i {
      font-size: 1.8rem;
    }
  }

  .price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    p {
      font-size: $font-size-medium;
    }

    div {
      display: flex;
      align-items: center;

      p {
        font-size: $font-size-large;
      }

      p:first-child {
        margin-right: 8px;
      }
    }
  }

  p-button.buy-button {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    width: calc(100% - 32px);
    transform: translateX(0);
    margin: 0 16px;
  }
}

.overview {
  h2 {
    text-align: center;
  }

  .overview-items {
    grid-area: overview;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    div {
      flex: 1 1 calc(33% - 8px);
      background-color: $box-color;
      padding: 16px;
      text-align: center;
    }
  }
}

.optionals {
  grid-area: optionals;
}

.about {
  grid-area: about;
}

.promotional {
  grid-area: promotional;
}

.similar-offers {
  grid-area: similar-offers;
}
