.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  background-color: grey;
}

.column {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: orange;
}

.item {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.carrossel {
  height: 600px;
}

.car-detail {
  height: 200px;
}

.sobre {
  height: 200px;
}

.price-info {
  position: sticky;
  top: 16px;
  height: 500px;
}

.box {
  height: 300px;
  width: 100%;
  background-color: tomato;
}
