$type-second: "Roboto", georgia;
$primary-color: #d93d3d;
$secondary-color: #052a59;
$background-color: #f2f2f2;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$container-max-width: 1080px;
$container-min-width: 375px;
$container-padding: 16px;
